# Python
__pycache__/
*.py[cod]

# Ambientes virtuais
.venv/
venv/
env/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# Ferramentas
.mypy_cache/
.pyright/
.ruff_cache/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados
output/*.json
!output/.gitkeep